ion-content.background{
  --background: url("~/assets/img/1650.png") no-repeat center center;
}

.highlight {
   --ion-background-color:#84288e !important
}
.highlight2 {
   --ion-background-color:#84288e !important
}
